<nav class="navbar navbar-expand-lg bg-body-$green-900" style="width: 100%;">
    <div class="container-fluid">
        <a class="navbar-brand">EL EMPORIO DEL JARDIN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products">PRODUCTOS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/chat">CHAT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/carts/{{user.cart._id}}">CARRITO</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle bg-body-$green-900" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">PERFIL</a>
                    <ul class="dropdown-menu bg-body-$green-900">
                        <p class="dropdown-item">NOMBRE:  {{user.first_name}}</p>
                        <p class="dropdown-item">APELLIDO:  {{user.last_name}}</p>
                        <p class="dropdown-item">EMAIL:  {{user.email}}</p>
                        <p class="dropdown-item">EDAD:  {{user.age}} </p>
                        <li><hr class="dropdown-divider"></li>
                        <a href="/api/session/logout"><button>Salir</button></a>
                    </ul>
            </li>
        </ul>
        <form class="d-flex" role="search" action="/products" method="get">
            <input class="form-control me-2" type="text" name="query" placeholder="Buscar producto..." aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        </div>
    </div>
</nav>
<br>
<h1 class="title">Orden de Compra</h1>
<br>
<br>
<div class="gallery">
    {{#each cart.products}}
        <div class="product">
            <h2>{{this.product.title}}</h2>
            <p>Unidades: {{this.quantity}}</p>
            <img src="{{this.product.thumbnail}}" alt="{{this.title}}">
            <p>{{this.product.description}}</p>
            <p class="parra">Price ${{this.product.price}}</p>
            <p>{{this.product.category}}</p>
            <p class="parra">Stock {{this.product.stock}}</p>
        </div>
    {{/each}}
</div>
<br>
    <h2>Total: ${{total}}</h2>
<div>
    <button>Finalizar compra</button>
</div>
